*{
    padding: 0px;
    margin: 0px;
    border: none;
}
.div1{
    width: 100%;
    height: 100vh;
    background-color: rgb(167, 198, 164);
}
.div2{
    width: 100%;
    height: 10vh;
    background-color: aqua;
    display: inline-flex;
    justify-content: space-evenly;
}
.div3{
    width: 19%;
    height: 10vh;
    background-color: rgb(255, 145, 0);
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}
#btn1{
    width: 130px;
    height: 35px;
    background-color: #00B3A8;
    border-radius: 10px;
}
#btn2{
    width: 130px;
    height: 35px;
    background-color: #00B3A8;
    border-radius: 10px;
}
.div4{
    width: 60%;
    height: 10vh;
    background-color: chartreuse;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
}
#btn3{
    width: 130px;
    height: 35px;
    background-color: #00B3A8;
    border-radius: 10px;
}
#btn4{
    background: none;
    border: none;
}
#i1{
    font-size: 15pt;
    color: #00B3A8;
}
.div5{
    width: 100%;
    height: 12vh;
    background-color: #FFFFFF;
    display: inline-flex;
    justify-content: center;
}
.div6{
    width: 86%;
    height: 12vh;
    background-color: aquamarine;
    display: inline-flex;
    justify-content: space-between;
}
.div7{
    width: 13%;
    height: 12vh;
    background-color: rgb(225, 255, 127);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
#img1{
    width: 150px;
}
#btn5{
    width: 120px;
    height: 35px;
    background-color: #FFFFFF;
    border-radius: 5px;
    font-size: 13pt;
}
.div8{
    width: 50%;
    height: 12vh;
    background-color: rgb(255, 217, 0);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
#inp1{
    width: 600px;
    height: 45px;
    border-radius: 5px;
}
.div9{
    width: 7%;
    height: 12vh;
    background-color: coral;
    display: inline-flex;
    justify-content:center;
    align-items: center;
}
.div11{
    width: 7%;
    height: 12vh;
    background-color: coral;
    display: inline-flex;
    justify-content:center;
    align-items: center;
}
.div12{
    width: 7%;
    height: 12vh;
    background-color: coral;
    display: inline-flex;
    justify-content:center;
    align-items: center;

}
#i2{
    font-size: 22pt;
    color: #00B3A8;
}
#i3{
    font-size: 22pt;
    color: #00B3A8;
}#i4{
    font-size: 22pt;
    color: #00B3A8;
}
.div13{
    width: 100%;
    height: 55%;
    background-color: aquamarine;
    margin-top: -6px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.div14{
    width: 86%;
    height: 40vh;
    background-color: cornflowerblue;
    display: inline-flex;
}
.div15{
    width: 50%;
    height: 45vh;
    background-color: crimson;
}
#img2{
    width: 100%;
    height: 100%;
}